---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

html, body, .content {
	min-height: 100vh;
	margin: 0;
}

.container {
	z-index: 1;
}

.content {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-post {
	width: 100%;
}


@media only screen and (min-width: 768px) {
	.content {
		display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: center;
	    flex-wrap: wrap;
	}
	.portfolio-post {
		width: 33%;
	}
	.portfolio-post-single {
		width: 100%;
	}
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed",arial,sans-serif;
    margin: 0;
    line-height: 100%;
    color: #fff;
    text-transform: uppercase;
}

a, input, label, li, p, span, textarea {
    font-family: 'Roboto Slab',serif;
    color: #4c4c4c;
}

nav {
	// position: absolute;
	// top: 1vh;
	// right: 1vw;
	// width: 50px;
	// height: 50px;
	// border: 1px solid red;
	z-index: 10;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
	}
	
	ul li {
		display: inline;
	}

	ul li a {
	    font-family: "Roboto Condensed",arial,sans-serif;
	    color: #ffffff;
	    text-transform: uppercase;
	    margin-left: 1vh;
	    margin-right: 1vh;
	    font-size: 2vw;
	    // display: block;

	    &:visited, :active {
	 	   color: #ffffff;
	    }
	}
}

@media only screen and (max-width: 768px) {
	nav ul li a { 
	    font-size: 5vw;
	}
}

body {
	background: url('../images/bg.png');
	background-size: cover;
}
// .home, .contact {
// 	background: url('../images/bg.png');
// 	background-size: cover;
// }

.scene {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    height: 100vh;
}

.layer-one {
    margin-top: 19vh;
    margin-left: 51vw;
    // <img src="images/layer1.png">
    // background: url("../images/layer1.png");
}

.layer-two {
    margin-top: 70vh;
    margin-left: 35vw;
}

.layer-three {
    margin-top: 35vh;
    margin-left: 15vw;
}

.layer-four {
    margin-top: 75vh;
    margin-left: 10vw;
}

@media only screen and (max-width: 768px) {
	.layer-one {
	    margin-top: 12vh;
	    margin-left: 60vw;
	}

	.layer-two {
	    margin-top: 70vh;
	    margin-left: 35vw;
	}

	.layer-three {
	    margin-top: 35vh;
	    margin-left: 15vw;
	}

	.layer-four {
	    margin-top: 75vh;
	    margin-left: 0vw;
	}
}



.home {
    text-align: center;
    z-index: 1;
    border: 3px solid #fff;
    padding: 3%;
    margin: 5% 25%;

    h1 {
    	font-size: 5.5vw;
	}
	.home .main p {
	    font-size: 1.5vw;
	    margin: 0;
	}

}


// CONTECT FORM
	.contact {
	    display: flex;
	    flex-direction: column;
	    margin: 0 25vw 0vw;
	}

	.contact form {
	    flex: 1;
	    z-index: 1;
	}

	.contact .title h1 {
	    background: #fff;
	    color: #57BFDD;
	    float: left;
	    padding: 3px 10px;
	    font-size: 4.5vw;
	    clear: both;
	}

	@media only screen and (max-width: 768px) {
	.contact .title h1 {
	    font-size: 9vw;
	    clear: both;
	}
	}

	.contact .title span {
	    background: #fff;
	    float: left;
	    margin: 0;
	    color: #4c4c4c;
	    padding: 3px 10px;
	    font-size: 1.5vw;
	    clear: both;
	}

	@media only screen and (max-width: 768px) {
	.contact .title span {
	    background: #fff;
	    float: left;
	    margin: 0;
	    color: #4c4c4c;
	    padding: 3px 10px;
	    font-size: 3.5vw;
	    clear: both;
	}
	}

	.contact .title {
		overflow: hidden;
	}

	@media only screen and (max-width: 768px) {
	.contact .title {
	    margin-top: 15vw;
	    margin-bottom: 10vw;
	}
	}

	.contact form input, .contact form textarea {
	    width: 100%;
	    font-size: 1.3vw;
	    padding: .6vw;
	    margin: 1vw 0;
	    border: none;
	    box-sizing: border-box;
	}

	.contact form input {
	    line-height: 200%;
	}

	.contact form [required] {
	    background-image: url(../images/required.svg);
	    background-repeat: no-repeat;
	    background-position: 99% 15%;
	    background-size: 1%;
	}

	.contact form textarea[required] {
	    background-position: 99% 5%;
	}

	.contact form [required]:valid {
	    background-image: url(../images/input-valid.svg) !important;
	}

	@media only screen and (max-width: 768px) {
	.contact form [required] {
	    background-size: 2%;
	}
	}

	.contact form input[type=submit] {
	    background-color: transparent;
	    font-size: 2vw;
	    border: 2px solid #fff;
	    font-family: "Roboto Condensed",arial,sans-serif;
	    color: #fff;
	    padding: .2vw 5vw;
	    width: auto;
	    text-transform: uppercase;
	    float: right;
	}

	.contact form input[type=submit]:hover {
	    background-color: #fff;
	    color: #57BFDD;
	}

	@media only screen and (max-width: 768px) {
	.contact form input[type=submit] {
	    font-size: 5vw;
	    padding: .2vw 5vw;
	    width: 100%;
	}
	}

	.contact form input, .contact form textarea {
	    width: 100%;
	    font-size: 1.3vw;
	    padding: .6vw;
	    margin: 1vw 0;
	    border: none;
	    box-sizing: border-box;
	}

	@media only screen and (max-width: 768px) {
	.contact form input, .contact form textarea {
	    font-size: 3.5vw;
	    padding: 1.5vw;
	    margin: 3vw 0;
	    border: none;
	    box-sizing: border-box;
	}
	}

	@media only screen and (max-width: 768px) {
	.contact {
	    margin: 0 5vw 5vw;
	}
	}

	@media only screen and (max-width: 500px) {
	.home {
	    margin: 0 5vw 5vw;
	}
	}

	.alert {
	    background: #ffffff;
	    border: 1px solid #57BFDD;
	    font-family: "Roboto Slab";
	    color: #57BFDD;
	    padding: 2%;
	}

	.alert--success {
	    border: 1px solid #d6e9c6;
	    color: #3c763d;
	    background: #dff0d8;
	}

	.alert--error {
	    border: 1px solid #ebccd1;
	    color: #a94442;
	    background: #f2dede;
	}






// Portfolio
	.portfolio-post {
		margin-top: 10vh;
		background: #fff;
	}




// Navigation
	.menu-control {
		width: 50px;
		height: 50px;
	    position: absolute;
    	top: 0;
    	right: 0;
    	z-index: 10;
		transition: all 300ms;
	}

	nav ul {
		height: 50px;
		overflow: hidden;
    	transition: all 500ms ease-in-out 1s;
	}

	.active nav ul {
		height: 100%;
		overflow: hidden;
    	transition: all 500ms ease-in-out;
	}

	.nav-icon > div {
		background: #5a5a5a;
		width: 30px;
		height: 2px;
		margin: 0 auto;
		transition: all 300ms ease-out 1s;
	}

	.active .nav-icon > div {
		transition: all 300ms ease-out;
	}

	.menu-control .nav-icon-item-one {
		transform: translate3d(0, 15px, 0);
	}
	.menu-control .nav-icon-item-two {
		transform: translate3d(0, 22px, 0);
	}
	.menu-control .nav-icon-item-three {
		transform: translate3d(0, 29px, 0);
	}

	.active .menu-control .nav-icon-item-one {
		transform: rotate(45deg) translate3d(18px, 17px, 0);
	}
	.active .menu-control .nav-icon-item-two {
		transform: translateX(200px);
	}
	.active .menu-control .nav-icon-item-three {
		transform: rotate(-45deg) translate3d(-15px, 15px, 0);
	}

	.menu-overlay {
		background: #fff;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 1vh;
		right: 1vh;
		z-index: 5;
		transition: all 300ms 1000ms;
	}

	.menu-overlay.active {
		transform: translate3d(1vh, -1vh, 0);
		width: 100vw;
		height: 100vh;
		transition: all 300ms;
	}

	.site-nav li {
		// display: none;
	    margin: 0 auto;
    	width: 80%;
    	opacity: 0;
    	overflow: hidden;
    	display: block;
		transform: translate3d(0, 10px, 0);
    	transition: all 500ms ease-in-out;
    	// transition: all 500ms ease-in-out 1s;
	}

	// .active .site-nav li {
    	// transition: all 500ms ease-in-out;
	// }

	.site-nav li:nth-child(1) {
    	transition: all 500ms ease-in-out 500ms;
	}

	.site-nav li:nth-child(2) {
		opacity: 0;
    	transition: all 500ms ease-in-out 400ms;
	}

	.site-nav li:nth-child(3) {
		opacity: 0;
    	transition: all 500ms ease-in-out 300ms;
	}

	.site-nav li:nth-child(4) {
		opacity: 0;
    	transition: all 500ms ease-in-out 200ms;
	}

	.site-nav li:nth-child(5) {
		opacity: 0;
    	transition: all 500ms ease-in-out 100ms;
	}

	.active .site-nav li:nth-child(1) {
		opacity: 1;
		transform: translate3d(0, 0, 0);
    	transition: all 500ms ease-in-out  300ms;
	}

	.active .site-nav li:nth-child(2) {
		opacity: 1;
		transform: translate3d(0, 0, 0);
    	transition: all 500ms ease-in-out  400ms;
	}

	.active .site-nav li:nth-child(3) {
		opacity: 1;
		transform: translate3d(0, 0, 0);
    	transition: all 500ms ease-in-out  500ms;
	}

	.active .site-nav li:nth-child(4) {
		opacity: 1;
		transform: translate3d(0, 0, 0);
    	transition: all 500ms ease-in-out  600ms;
	}

	.active .site-nav li:nth-child(5) {
		opacity: 1;
		transform: translate3d(0, 0, 0);
    	transition: all 500ms ease-in-out  700ms;
	}

	.site-nav li a p {
		font-family: "Roboto Condensed", Arial, Sans-Serif;
		font-size: 7vw;
		line-height: 7vw;
		margin-bottom: 0;
		color: #57bfdd;
	}

	.site-nav li a {
		border-bottom: 3px solid rgba(87,191,221,0);
    	transition: all 300ms ease-in-out;
	}

	.site-nav li a:hover {
		border-bottom: 3px solid rgba(87,191,221,1);
	}
