<!-- <nav> -->
	<!-- <ul> -->
		<!-- <li><a href="/">home</a></li> -->
		<!-- <li><a href="/services">services</a></li> -->
		<!-- <li><a href="/blog">blog</a></li> -->
		<!-- <li><a href="/portfolio">portfolio</a></li> -->
		<!-- <li><a href="/contact">contact</a></li> -->
	<!-- </ul> -->
<!-- </nav> -->



<!-- Add active class to control menu -->
<div class="menu-overlay">

	<div class="menu-control">
		<div class="nav-icon">
			<div class="nav-icon-item nav-icon-item-one"></div>
			<div class="nav-icon-item nav-icon-item-two"></div>
			<div class="nav-icon-item nav-icon-item-three"></div>
		</div>
	</div>

	<nav class="site-nav">
		<ul>
			<li class="home-link">
				<a href="/">
					<p>home</p>
					<span>Visis our awesome homepage</span>
				</a>
			</li>
			<!-- <li class="services-link">
				<a href="/services">
					<p>services</p>
					<span>Read about some of the great services we offer</span>
				</a>
			</li> -->
			<!-- <li class="portfolio-link">
				<a href="/portfolio">
					<p>portfolio</p>
					<span>See some of the great project I have worked on</span>
				</a>
			</li> -->
			<!-- <li class="blog-link">
				<a href="/blog">
					<p>blog</p>
					<span>See some random thoughts from from me</span>
				</a>
			</li> -->
			<li class="contact-link">
				<a  href="/contact">
					<p>contact</p>
					<span>Seen something you like, or want to ask me a question</span>
				</a>
			</li>
		</ul>
	</nav>
</div>