<nav>
	<ul>
		<li><a href="/">home</a></li>
		<!-- <li><a href="/services">services</a></li> -->
		<!-- <li><a href="/blog">blog</a></li> -->
		<!-- <li><a href="/portfolio">portfolio</a></li> -->
		<li><a href="/contact">contact</a></li>
	</ul>
</nav>



<!-- Add active class to control menu -->
<!-- <div class="menu-overlay">

	<div class="menu-control" ng-click="activeButton()">
		<div class="nav-icon">
			<div class="nav-icon-item nav-icon-item-one"></div>
			<div class="nav-icon-item nav-icon-item-two"></div>
			<div class="nav-icon-item nav-icon-item-three"></div>
		</div>
	</div>

	<nav class="site-nav">
		<ul>
			<li class="home-link" ng-class="{clicked: (clickedLink == 'home')}">
				<a ui-sref-active="active" ui-sref="home">
					<p>home<img src="../images/Preloader_2.gif"></p>
					<span>Visis our awesome homepage</span>
				</a>
			</li>
			<li class="services-link" ng-class="{clicked: (clickedLink == 'services')}">
				<a ui-sref-active="active" ui-sref="services">
					<p>services<img src="../images/Preloader_2.gif"></p>
					<span>Read about some of the great services we offer</span>
				</a>
			</li>
			<li class="services-link" ng-class="{clicked: (clickedLink == 'services')}">
				<a href="http://portfolio.mcneela86.com/">
					<p>portfolio<img src="../images/Preloader_2.gif"></p>
					<span>See some of the great project I have worked on</span>
				</a>
			</li>
			<li class="contact-link" ng-class="{clicked: (clickedLink == 'contact')}">
				<a ui-sref-active="active" ui-sref="contact">
					<p>contact<img src="../images/Preloader_2.gif"></p>
					<span>Seen something you like, or want to ask me a question</span>
				</a>
			</li>
		</ul>
	</nav>
</div> -->